#{extends 'main.html' /}
#{set title:'Home' /}

#{form @login(), id:'formLogin'}
    
Please enter your Personal ID and Password    
    <p class="field">
        <label for="name">Personal ID:</label>
        <input type="text" id="name" name="name" value="${name}">
        <span class="error">${errors.forKey('name')}</span>
    </p>

    <p class="field">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" value="${password}">
        <span class="error">${errors.forKey('password')}</span>
    </p>

    <p class="buttons">
        <a href="@{index()}">Cancel</a> or <input type="submit" value="Login" id="login">
    </p>    
#{/form}


